@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/100-thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/100-thin-italic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/200-extra-light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/200-extra-light-italic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/300-light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/300-light-italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/400-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/400-regular-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/500-medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/500-medium-italic.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/600-semi-bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/600-semi-bold-italic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/700-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/700-bold-italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/800-extra-bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/800-extra-bold-italic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/900-black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/900-black-italic.ttf);
    font-weight: 900;
    font-style: italic;
}
