@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/100-thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/100-thin-italic.ttf);
    font-weight: 100;
    font-style: italic;
}
