@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/200-extra-light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/200-extra-light-italic.ttf);
    font-weight: 200;
    font-style: italic;
}
