@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/300-light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/300-light-italic.ttf);
    font-weight: 300;
    font-style: italic;
}
