@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/400-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/400-regular-italic.ttf);
    font-weight: 400;
    font-style: italic;
}
