@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/500-medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/500-medium-italic.ttf);
    font-weight: 600;
}
