@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/600-semi-bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/600-semi-bold-italic.ttf);
    font-weight: 600;
    font-style: italic;
}
