@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/700-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/700-bold-italic.ttf);
    font-weight: 700;
    font-style: italic;
}
