@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/800-extra-bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/800-extra-bold-italic.ttf);
    font-weight: 900;
    font-style: italic;
}
