@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/900-black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Barlow;
    src: url(/fonts/barlow/900-black-italic.ttf);
    font-weight: 900;
    font-style: italic;
}
